:root {
    --card-color: #ccc;
    --full-timer-color: #3047ff;
    --mid-timer-color: #20d600;
    --low-timer-color: rgb(255, 0, 0);
    --animation-timing: 0.3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

img {
    max-width: 100%;
}

.app {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.app .main-title {
    margin-bottom: 20px;
}

/* Start Section  */
.start-section .description {
    max-width: 500px;
    margin: 20px auto;
}

.start-section .start-btn {
    font-family: inherit;
    font-weight: bold;
    border: none;
    font-size: 16px;
    padding: 6px 24px;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    box-shadow: 0 0 3px 0px black inset;
    backdrop-filter: blur(2px);
    transition: all var(--animation-timing) ease-in-out;
    -webkit-transition: all var(--animation-timing) ease-in-out;
    -moz-transition: all var(--animation-timing) ease-in-out;
    -ms-transition: all var(--animation-timing) ease-in-out;
    -o-transition: all var(--animation-timing) ease-in-out;
}

.start-section .start-btn:hover {
    box-shadow: 0 0 3px 40px black inset;
    color: white;
}

/* Game Section */
.game-section .timer {
    background-image: linear-gradient(to right, var(--full-timer-color) 100%, transparent 0%);
    height: 15px;
    border-radius: 2px;
    opacity: 0;
    transition: all var(--animation-timing) ease-in-out;
}

.game-section .game-board {
    grid-template-columns: repeat(auto-fill, minmax(145px, 5fr));
    display: grid;
    padding: 10px;
    margin: 10px auto;
    box-shadow: 0 0 10px #9d9d9d;
    border-radius: 5px;
    gap: 10px;
    perspective: 1000px;
}

@media (max-width: 767px) {
    .game-section .game-board {
        grid-template-columns: repeat(auto-fill, minmax(100px, 4fr));
    }
}

.game-section .game-board .card {
    background-color: var(--card-color);
    padding: 10px 10px 6px;
    border-radius: 3px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all var(--animation-timing) ease-in-out;
    -webkit-transition: all var(--animation-timing) ease-in-out;
}

.game-section .game-board .card:hover {
    background-color: #b8b8b8;
}

.game-section .game-board .card img {
    max-width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.game-section .reload {
    width: 40px;
    padding: 5px;
    cursor: pointer;
    border: none;
    transition: all var(--animation-timing) ease-in-out;
    background-color: transparent;
}

.game-section .reload img {
    position: relative;
    z-index: -1;
}

.game-section .reload:hover {
    rotate: 90deg;
}

/* Result POP-UP */
.result {
    font-size: 40px;
    font-weight: bold;
}

.result.win {
    color: rgb(0, 185, 0);
}

.result.lose {
    color: red
}

.result .description {
    margin-bottom: 20px;
}

.result .btn {
    padding: 5px 20px;
    border: 2px solid #ccc;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    transition: all var(--animation-timing);
}

.result .btn:hover {
    background-color: black;
    color: white;
    border-color: transparent;
}